label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.mb-4
{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
  padding-top: 10px;
}

.card.h-100
{
  margin-top: auto;
}

.card.h-100 .card-text
{
 padding: 10px;
}

.jumbotron
{
  background: linear-gradient(to right, #025D79, #025D79); 
  color:azure;

}
.table
{
  background: linear-gradient(to right, #025D79, #025D79); 
  color:azure;
  font-weight: 100px; 
}
.card {
  background: linear-gradient(to right, #0d416e, #03325A); 
  color:azure;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.3);
}

.navbar
{
  background: linear-gradient(to right, #025D79, #025D79); 

}


.card button {
  background-color: #cfc753;
  color: #fff;
  border: none;
  padding: 10px 20px;
  color:#000000
}

.card button:hover {
  background-color: #d6cf64;
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

h5.card-title { 
  font-weight: bold; 
  padding: 20px;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 119);
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://i.imgur.com/W7v7z0P.png');
  background-size: cover;
  filter: blur(3px);
  z-index: -1; 
  top: -10px; 
  left: -10px;
  width: calc(100% + 20px); 
  height: calc(100% + 20px); 
}

.main-content {
  position: relative;
  z-index: 1; 
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-entered {
  opacity: 1;
}
